
@font-face {
    font-family: 'dana';
    src: font('dana-fanum-black.woff2') format('woff2'),
        font('dana-fanum-black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'dana';
    src: font('dana-fanum-medium.woff2') format('woff2'),
        font('dana-fanum-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'dana';
    src: font('dana-fanum-regular.woff2') format('woff2'),
        font('dana-fanum-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'dana';
    src: font('dana-fanum-demibold.woff2') format('woff2'),
        font('dana-fanum-demibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

